body{
    background: #ffffff;
}

.container, 
.popup{
    max-width: 440px;
    width: 100%;
    background: #dedede;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 0px 20px 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.container p{
    text-align: center;
    font-size: 45px;
    color: #000;
}

.button-div{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.design{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

input[type="button"]{
    font-weight: bold;
    font-size: 20px;
    border: none;
}

input:hover{
    cursor: pointer;
}

.popup{
    max-width: 220px;
    background: #ffc0cb;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    display: none;
}

.popup span{
    padding: 5px;
    position: absolute;
    right: 5px;
}

.popup i{
    cursor: pointer;
}