* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #fad2ff, #fa5bffec);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 400px;
    color: #000;
    height: 30%;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter may not work in some devices */
    backdrop-filter: blur(5px);
}

.card p {
    font-size: 3rem;
    font-weight: 600;
}

.card p span {
    color: #cd3de0;
}

.buttonDiv {
    margin-top: 50px;
}

.buttonDiv-div {
    position: relative;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clickYes,
.clickNo,
.closeButton {
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
}

.clickNo{
    z-index: 99;
}

.clickYes {
    left: 20%;
}

button:hover {
    background: #fa5bffbd;
    color: #fff;
}

.clickNo:hover {
    background: rgba(53, 144, 255, 0.867);
}

.clickYes,
.clickNo {
    position: absolute;
}

.popup {
    background: #f9d1ff;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #000;
    display: none;
    transition: transform 0.4s, top 0.4s;
    border-radius: 10px;
}

.open-popup {
    position: absolute;
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup p {
    font-size: 20px;
    font-weight: 600;
}

.popup i {
    cursor: pointer;
    position: absolute;
    left: 95%;
    top: 3%;
}

@media screen and (max-width: 768px) {
    .popup i {
        left: 90%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fce6ff;
    color: #000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 1;
}
